- if user_profile_page? params
  .row
    .col-md-4
    .col-md-4.txtCentered
      - photo_url = @user.profile_photo.url
      - photo_url = 'nouserimage.png' if photo_url.nil?
      = image_tag photo_url, class: 'img-circle medium-image'
      %p.txtStyle.medium_title= @user.username
    .col-md-4

- if @posts.first.nil?
  .row
    .col-md-4
    .col-md-4.image-container.box-container
      %p.txtStyle.small_title No more posts exist..!!
- else
  .row
    - @posts.each do |p|
      .col-md-4.image-container.box-container.listing
        = link_to post_path(p.id) do
          = image_tag custom_url(p), class: 'image-medium'
        %br
        = link_to post_path(p.id) do
          %p.txtStyle.small_title= p.title
        %span.glyphicon.glyphicon-heart.untitle.like_count{class: class_for_link_unlike_based_on_count(p)}= p.likes_count
        %span.glyphicon.glyphicon-eye-open.untitle= p.views_count
        .small_description
          = sanitize(truncate(p.description, length: 100, escape: false), attributes: %w(href))
        = link_to "<p class='info'>Author: #{p.user.username}</p>".html_safe, user_path(p.user)
