- @posts.each do |p|
  .row
    .col-md-1
    .col-md-10.image-container.box-container
      =image_tag 'loading.gif', 'data-src' => p.photo.url
      %br
      %br
      - if post_is_editable?(params[:action])
        %p.title= link_to p.title , edit_post_path(p.id)
      - else
        %p.title= p.title
      %p.description
        = p.description
      %p.info Visited on: #{p.visited_on}
      %p.info Place: #{p.place + ', ' + p.country}
      %p.info Author: #{p.user.username}
    .col-md-1
  %br
