- if user_profile_page? params
  .row
    .col-md-4
    .col-md-4.txtCentered
      - photo_url = @user.profile_photo.url
      - photo_url = 'nouserimage.png' if photo_url.nil?
      = image_tag photo_url, class: 'img-circle medium-image'
      %p.txtStyle.medium_title= @user.username
    .col-md-4

- if @posts.first.nil?
  .row
    .col-md-4
    .col-md-4.image-container.box-container
      %p.txtStyle.small_title No more posts exist..!!
- else
  .row
    - @posts.each do |p|
      .col-md-4.image-container.box-container.listing
        = link_to post_path(p.id) do
          =image_tag p.photo.url
        %br
        = link_to post_path(p.id) do
          %p.txtStyle.small_title= p.title
        %p.small_description
          = p.description.truncate(100)
        = link_to "<p class='info'>Author: #{p.user.username}</p>".html_safe, posts_user_path(p.user)


- if posts_index_page? params
  %nav
    %ul
      = will_paginate(@posts)
