.row
  .col-md-1
  .col-md-10.image-container.box-container
    = image_tag @post.photo.url
    %br
    %br
    - if post_is_editable?(@post.user, current_user)
      %p.title
        = link_to @post.title, edit_post_path(@post.id)
        %span.glyphicon.glyphicon-heart.untitle.like_count{class: class_for_link_unlike_based_on_count(@post)}= @post.likes_count
    - else
      %p.title
        = @post.title
        = get_like_button(@post, current_user)
    %p.description
      = @post.description
    %p.info Visited on: #{@post.visited_on}
    %p.info 
      Place: #{@post.place + ', ' + @post.country}
      = map_image(@post.latitude, @post.longitude)
    = link_to "<p class='info'>Author: #{@post.user.username}</p>".html_safe, posts_user_path(@post.user)
    = image_tag get_user_profile_picture(@post.user), class: 'profile-pic img-circle'
  .col-md-1
%br

%br
%br

.row
  .col-md-1
  .col-md-10
    %p.txtStyle.small_title Comments:

- @post.comments.includes(:user).each do |comment|
  .row
    .col-md-1
    .col-md-10.image-container.box-container
      .col-md-1
        = image_tag get_user_profile_picture(comment.user), class: 'profile-pic img-circle'
      .col-md-10.comment
        %p.comment-text.txtStyle.tiny-text= username_for_user(comment.user)
        %br
        %p.comment-text.txtStyle.small_title= comment.thought
    .col-md-1
%br

.row
  .col-md-1
  .col-md-10.image-container.box-container
    = simple_form_for(@post.comments.new, url: add_comment_post_path(@post)) do |c|
      .col-md-1
        = image_tag get_user_profile_picture(current_user), class: 'profile-pic img-circle'
      .col-md-10.comment
        %p.comment-text.txtStyle.tiny-text= username_for_user(current_user)
        %br
        = c.input :thought, as: :text, label: false
        = c.hidden_field :user_id, value: value_of_user_id(current_user)
        = link_to 'Add', '#', id: 'add_comment_link', class: 'btn'
    %br
  .col-md-1

:javascript
  $('#add_comment_link').click(function(){
    $('#new_comment').submit()
  });

  stLight.options({ 
    publisher: "fdbea845-8135-4aa2-8e80-2b90c45e6728",
    doNotHash: false,
    doNotCopy: false,
    hashAddressBar: false
  });
  var postImageUrl = "#{@post.photo.url}"
  var options = {
    "publisher": "fdbea845-8135-4aa2-8e80-2b90c45e6728",
    "position": "right",
    "ad": { "visible": false, "openDelay": 5, "closeDelay": 0 },
    "chicklets": { "items": ["facebook", "twitter", "googleplus", "email", "sharethis"]},
    "chicklets_params": {
      "facebook": { "st_image": postImageUrl },
      "twitter": { "st_image": postImageUrl },
      "googleplus": { "st_image": postImageUrl },
      "email": { "st_image": postImageUrl },
      "sharethis": { "st_image": postImageUrl }
    }
  };
  var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
