!!!
%html
  %head
    %title At a happy place
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %script{ type: 'text/javascript' }
      var switchTo5x=true;
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{:href => "http://fonts.googleapis.com/css?family=Dancing+Script", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Josefin+Slab:700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Kalam:300", :rel => "stylesheet", :type => "text/css"}/
    = csrf_meta_tags
    = yield(:head)
  %body
    .container-fluid
      .row.main-row
        = render 'layouts/shared/navbar'
      - unless ['index', 'draft_posts', 'moderated_posts', 'published_posts'].include?(params[:action]) and params[:controller] == 'posts'
        %br
      = yield
