!!!
%html
  %head
    %title At a happy place
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %script{ type: 'text/javascript' }
      var switchTo5x=true;
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{:href => "http://fonts.googleapis.com/css?family=Dancing+Script", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Josefin+Slab:700", :rel => "stylesheet", :type => "text/css"}/
    = csrf_meta_tags
    = yield(:head)
  %body
    .container-fluid
      .row.main-row
        .col-md-6.col-md-offset-3
          = link_to  root_path do 
            %h1 At a happy place.
        .col-md-3.options-menu
          .btn-group
            %span.small-text{'data-toggle' => 'dropdown', 'type' => 'button', 'aria-expanded' => false}
              Options
              %span.caret
            %ul.dropdown-menu{'role' => 'menu'}
              - if user_signed_in?
                %li
                  %a{:href => edit_user_path(current_user)} My Profile
                %li
                  %a{:href => posts_user_path(current_user)} My Posts
                %li
                  %a{:href => new_post_path} Add Post
                %li
                  %a{:href => about_path} About
                %li
                  = link_to "Sign out", destroy_user_session_path, method: :delete
              - else
                %li
                  %a{:href => new_user_session_path} Sign In
                %li
                  %a{:href => new_user_registration_path} Sign Up
                %li
                  %a{:href => new_post_path} Add Post
                %li
                  %a{:href => about_path} About
      %br
      = yield
